.nav-bar
    height: 80px
    color: $white
    background: #3853d8

    .page-wrapper
        display: flex
        align-items: center
        justify-content: space-between

        .nav-part1
            width: 655px
            display: flex
            justify-content: space-between
            align-items: center

            span
                font-family: $secondary_font
                font-weight: 500
                font-size: 24px

            .nav-items1
                display: flex
                justify-content: space-between

                li
                    padding: 0 15px

        .nav-part2
            .nav-items2
                display: flex
                justify-content: space-between
                align-items: center

                .bag, .search
                    font-size: 25px
                    padding-left: 35px

                .bag
                    position: relative

                    span
                        font-family: $primary_font
                        position: absolute
                        font-size: 10px

                .login
                    display: flex
                    justify-content: space-between

                    li
                        padding: 0 11px


