// fonts
$primary_font: 'montserrat'
$secondary_font: 'playfair display'

// colors
$primary_color: #3853d8
$secondary_color: darken($primary_color, 15%)
$tertiary_color: #232323
$dark: #333333

$border_color: #d3d3d3
$unactive_text: #b6b6b6

$white: #ffffff
$black: #000000
$gray: #999999
