server {
    listen 80;
    server_name  *.embraer.vm embraer.vm default_server;
    
    #auth_basic "Restricted";
    #auth_basic_user_file /etc/nginx/.htpasswd;

    location /relatorio_anual2016 {
        alias /srv/www/relatorio_anual2016/;
        try_files $uri $uri/ index.html =404;
    }

    location / {
        try_files @prerender @prerender;
    }

    location /version {
        alias /srv/www/portal/dist/;
        try_files /version /version =500;
    }

    location /api {
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header Host $http_host;
        proxy_set_header X-NginX-Proxy true;

        proxy_redirect off;
        proxy_pass http://embraer/api;
    }

    location /cms {
        alias /srv/www/cms/dist/;
        try_files $uri$args $uri$args/ $uri/ $uri index.html =404;
    }

    location @prerender {
        
        set $prerender 0;
        if ($http_user_agent ~* "baiduspider|twitterbot|facebookexternalhit|rogerbot|linkedinbot|embedly|quora link preview|showyoubot|outbrain|pinterest|slackbot|vkShare|W3C_Validator|Testing-Tool") {
            set $prerender 1;
        }
        if ($args ~ "_escaped_fragment_") {
            set $prerender 1;
        }
        if ($http_user_agent ~ "Prerender") {
            set $prerender 0;
        }
        if ($uri ~* "\.(js|css|xml|less|png|jpg|jpeg|gif|pdf|doc|txt|ico|rss|zip|mp3|rar|exe|wmv|doc|avi|ppt|mpg|mpeg|tif|wav|mov|psd|ai|xls|mp4|m4a|swf|dat|dmg|iso|flv|m4v|torrent|ttf|woff|svg|eot)") {
            set $prerender 2;
        }
        resolver 8.8.8.8;

        if ($prerender = 1) {

            set $prerender "service.prerender.io";
            rewrite .* /$scheme://$host$request_uri? break;
            #return 200 /$scheme://$host$request_uri;
            proxy_pass http://$prerender;
        }
        if ($prerender = 0) {
            root /srv/www/portal/dist/;
            rewrite .* /index.html break;
        }
        if ($prerender = 2) {
            root /srv/www/portal/dist/;
        }
    }
}

upstream embraer {
    server 127.0.0.1:3000;
}
