.home
    .home-header
        background-color: $primary_color

    .home-content
        position: relative
        margin-top: -76px
        z-index: 1

        .page-wrapper2
            .benefits-container
                border: 1px solid $border_color
                border-radius: 5px
                background-color: $white

                .benefits
                    padding: 35px 60px
                    display: flex
                    justify-content: space-between

                    .benefit
                        display: flex
                        height: 80px
                        border-right: 1px solid $border_color

                        .benefit-box
                            display: flex
                            align-items: center

                            i
                                color: $gray
                                font-size: 30px

                            .benefit-desc
                                margin-left: 17px
                                padding-right: 75px

                                h6
                                    font-size: 18px
                                    margin-bottom: 3px

                                span
                                    font-size: 14px
                                    font-weight: 200
                                    color: $gray

                    .benefit:last-child
                        border: none

                        .benefit-desc
                            margin-left: 17px
                            padding-right: 0
